<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	 <!-- container : no Accounts -->
    <div class="container1">
        <div class="card no-accounts-card">
            <div class="card-body">
                <h1 class="card-title">
                    <i class="fas fa-ban text-danger"></i>No Registerd Accounts
                </h1>
<hr>
                <div class="card-text">You Currently do not have any registered accounts. <br>
                please click below to rigister/add new account <br> <br></div>
                <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Add New Account
                  </button>
            </div>
        </div>
    </div>
	
	
</body>
</html>